#model-card {
    animation: modelCardAnim 0.5s;
}
@keyframes modelCardAnim {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
#cart-sidebar {
    right: -100%;
}

#cart-sidebar.active {
    right: 0%;
}